<<<<<<< HEAD
<%= link_to '日本オラクル', '/s/index' %>
=======
<table border="1">
<caption>企業一覧</caption>
<tr>
<th>メーカー</th>
<th>特徴</th>
</tr>
<tr>
<td>リコー</td>
<td>印刷機能が豊富</td>
</tr>
<tr>
<td>キャノン</td>
<td>画像処理が得意</td>
</tr>
<tr>
</tr>
<tr>
<td>リコー</td>
<td>印刷機能が豊富</td>
</tr>
<tr>
<td>キャノン</td>
<td>画像処理が得意</td>
</tr>
<tr>
</tr>
<tr>
<td>リコー</td>
<td>印刷機能が豊富</td>
</tr>
<tr>
<td>キャノン</td>
<td>画像処理が得意</td>
</tr>
<tr>
</tr>
<tr>
<td>リコー</td>
<td>印刷機能が豊富</td>
</tr>
<tr>
<td>キャノン</td>
<td>画像処理が得意</td>
</tr>
</table>
>>>>>>> 8582754ffad959627784364df7a2249c9b847da9
